<%= turbo_stream_from @post %>
<%= render @post %>

<turbo-frame id="like_section-<%= @post.id %>">
  <%= render partial: "like_section", post: @post %>
</turbo-frame>

<%= render "comments/comments", post: @post %>
<br>
<div>
  <%= link_to "Back to posts", posts_path %>
  <% if @post.user == current_user %>
    <%= link_to "Edit this post", edit_post_path(@post) %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>
</div>
<br>
